h1
{
    color: #333;
    text-align: center;
    margin-top: 20px;
}

p
{
    color: #666;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.pt
{
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}

.it
{
    height: 200px;
    width: 250px;
}

.wt
{
    width: 75%;
    margin: auto;
}

.h1t
{
    margin-top: 30px;
}

.footer_icon
{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

footer
{
    position: fixed;
    bottom: 0px;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.h2_animation
{
    animation: fadeIn 2s ease-in-out infinite;
}

@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

.gallery_image:hover
{
    animation: galleryAnimation 2s ease-in-out infinite;
}

@keyframes galleryAnimation
{
    0%
    {
        transform: scale(1);
    }
    50%
    {
        transform: scale(1.1);
    }
    100%
    {
        transform: scale(1);
    }
}

.main_image:hover
{
    animation: mainImageAnimation 3s ease-in-out infinite;
}

@keyframes mainImageAnimation
{
    0%
    {
        transform: scale(1);
    }
    50%
    {
        transform: scale(1.1);
    }
    100%
    {
        transform: scale(1);
    }
}

.achievementsBox
{
    box-shadow: 15px 15px 15px rgb(0, 0, 0);
}

.achievements:hover
{
    animation: achievementsAnimation 2s ease-in-out infinite;
}

@keyframes achievementsAnimation
{
    0%
    {
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(-10px);
    }
    100%
    {
        transform: translateY(0);
    }
}

.nav-item:hover
{
    animation: navbarAnimation 3s ease-in-out infinite;
}

@keyframes navbarAnimation
{
    0%
    {
        transform: scale(1);
    }
    50%
    {
        transform: scale(1.1);
    }
    100%
    {
        transform: scale(1);
    }
}